[Desktop Entry]
Version=1.0
Type=Application
Name=Gmail
Comment=A Google Mail laucher
Exec=chromium --app=https://mail.google.com/mail/u/1/
Icon=gmail-webapp
Terminal=false
Categories=Email;
