[Desktop Entry]
Type=Application
Name=Neovim (Kitty)
Comment=Open files in Neovim inside Kitty
Exec=kitty nvim %f
Icon=nvim
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;text/english;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;
