@define-color foreground #ddf7ff;
@define-color blue #829dd4;
@define-color bg #0B0C16;
@define-color background alpha(@bg, 0.95);

#custom-arch {
  color: @blue;
}
/* for bar2 */
window#waybar {
  background-color: transparent;
  border: none;
}

window#waybar>box {
  background-color: alpha(@background, 0.8);
  border: 2px solid alpha(@foreground, 0.6);
  border-radius: 12px;
  margin: 3px 200px 3px 200px;
}

.modules-left, .modules-right, tooltip {
  border-radius: 8px;
}

#left1, #left2, #left3, #workspaces, #workspaces button, #workspaces button.active, #workspaces button.empty, #workspaces button.empty.active {
  border-radius: 4px;
}
